<div style="display: flex; flex-direction: row">
  <div style="flex: 1; align-self: center">
    Car with license plate number <span style="color: cornsilk">{{data.data.lpn}}</span> {{getAction(data.type, data.data.isAccepted)}}
  </div>
  <button style="align-self: center" mat-button (click)="close()">close</button>
</div>
